.form {
    display: flex;
  
    margin-left: 700px;
    margin-top: 40px;

}
#heading{
    margin-left: 450px;
    font-style: oblique;
    font-size: 40px;
}
.tasks{
    margin-left: 300px;
}
.taskss{
    
    margin-right: 600px;
    width: 30%;
    color: brown;
    margin-top: -100px;
  
}
body{
    background-image: url(https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-stained-glass-free-website-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.editorfor{
    color: brown;
}